* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('https://imgs.search.brave.com/k1qZwF74dzKV3afGmD7PN4SJ2Re2DXd2v_dDhNYZXfU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2LzE1LzU3LzYw/LzM2MF9GXzYxNTU3/NjA2MF9YY1NieWZi/TGZDRGptc0V5Tjhp/ZENmR1FMU3NSNjNk/Ti5qcGc') no-repeat center center fixed;
    background-size: cover;
    color: black;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.contact, .about {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}